.alert {
  border-color: #cad1fc;
  background-color: rgba(206, 207, 253, 0.4);
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  padding: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  button {
    color: #6e73f8;
  }
}

.text {
  max-width: 90%;
  color: #6e73f8;
}
