.footer {
  display: flex;
  justify-content: center;
  padding: 25px 10px;
  font-family: 'tg', sans-serif;
  color: var(--tg-theme-text-color);
  text-align: center;
  padding-bottom: 80px;

  a {
    color: var(--tg-theme-link-color);
  }
}
