.column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  white-space: nowrap;
}

.photo {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 10px;
}

.list > li {
  padding: 10px 16px;
}

.extraTitle {
  font-family: 'tg', sans-serif;
  font-size: 1.8rem;
  color: var(--color);
  margin-bottom: 5px;
}

.extraText {
  color: #6d6d6d;
  margin-bottom: 12px;
  display: block;
}

.extraButton {
  padding: 17px 0 20px 0;
}

.extraList {
  padding: 2px 0;
  border-radius: 6px;
  background: var(--menu-active);
  margin-bottom: 15px;
}

.extraList li {
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
      color: var(--tag);
    }
  }
}

.label {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'tg', sans-serif;
  font-size: 1.5rem;
  color: var(--color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  input {
    margin-bottom: 0;
  }

  label {
    flex-grow: 1;
  }

  label span {
    top: 40%;
  }
}

.wrapper:first-child {
  flex-grow: 1;
}

.buttonRemove {
  svg {
    fill: #d3dee8;
  }

  &:hover {
    svg {
      fill: var(--tag);
    }
  }
}

.addOption {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color);

  &:hover {
    color: var(--tag);
  }
}

.checkWrapper {
  display: flex;
  gap: 1px;
  margin-top: 40px;
}

@media (max-width: 680px) {
  .wrapperVariants {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .wrapperVariants {
    label {
      max-width: 80% !important;
      width: 80% !important;
    }
  }
}

.priceWrapper {
  display: flex;
  gap: 15px;
}

.old {
  text-decoration: line-through;
  color: #d3dee8;
  font-size: 1.5rem;

  @media (max-width: 500px) {
    display: none;
  }
}

.new {
  font-family: 'tg', sans-serif;
}
