.inner {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  white-space: nowrap;
  max-width: 287px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;

  @media (max-width: 565px) {
    max-width: 227px;
  }

  @media (max-width: 470px) {
    max-width: 190px;
    font-size: 1.5rem;
  }

  @media (max-width: 360px) {
    max-width: 170px;
    font-size: 1.4rem;
  }
}

.photo {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: 565px) {
    width: 35px;
    height: 35px;
  }
}

.list > li {
  padding: 10px 16px;

  @media (max-width: 565px) {
    padding: 10px 7px;
  }
}

.extraTitle {
  font-family: 'tg', sans-serif;
  font-size: 1.8rem;
  color: var(--color);
  margin-bottom: 5px;
}

.extraText {
  color: #6d6d6d;
  margin-bottom: 12px;
  display: block;
}

.extraButton {
  padding: 17px 0 20px 0;
}

.extraList {
  padding: 2px 0;
  border-radius: 6px;
  background: var(--menu-active);
  margin-bottom: 15px;
}

.extraList li {
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
      color: var(--tag);
    }
  }
}

.label {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'tg', sans-serif;
  font-size: 1.5rem;
  color: var(--color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  input {
    margin-bottom: 0;
  }

  label {
    flex-grow: 1;
  }

  label span {
    top: 40%;
  }
}

.wrapper:first-child {
  flex-grow: 1;
}

.buttonRemove {
  svg {
    fill: #d3dee8;
  }

  &:hover {
    svg {
      fill: var(--tag);
    }
  }
}

.addOption {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color);

  &:hover {
    color: var(--tag);
  }
}

.checkWrapper {
  display: flex;
  gap: 1px;
  margin-top: 40px;
}

@media (max-width: 680px) {
  .wrapperVariants {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .wrapperVariants {
    label {
      max-width: 80% !important;
      width: 80% !important;
    }
  }
}

.priceWrapper {
  display: flex;
  gap: 15px;
}

.old {
  text-decoration: line-through;
  color: #d3dee8;
  font-size: 1.5rem;

  @media (max-width: 650px) {
    display: none;
  }
}

.new {
  font-family: 'tg', sans-serif;

  @media (max-width: 400px) {
    display: none;
  }
}

.categoryWr > div {
  padding: 5px 10px;
}

.categoryWrapper {
  position: relative;
  max-width: 300px;
  width: 100%;
}

.categorySelect {
  font-weight: 600;
  font-family: 'tg', sans-serif;
  font-size: 1.5rem;
  max-width: 300px;
  padding: 9px 10px;
  background-color: #d3dee8;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.hiddenCategory {
  position: absolute;
  top: 40px;
  background-color: #d3dee8;
  border-radius: 8px;
  width: 100%;
  font-family: 'tg', sans-serif;
  font-size: 1.5rem;
  z-index: 12;
  right: 0;

  li {
    transition: all 100ms ease-in-out;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #c8d4de;
    }
  }
}
