.product {
  padding-top: 10px;
}

.slider {
  width: 100%;
}

.slide {
  max-width: none;
  width: 100%;
}

.wrapper {
  height: 350px;
  overflow: hidden;
  margin-bottom: 15px;
}

.img {
  object-fit: cover;
  height: 100%;
  border-radius: 21px;
}

.content {
  padding: 0 0 20px;
}

.prductTitle {
  font-size: 2.6rem;
  font-family: 'tg', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 18px;
  white-space: pre-wrap;
}

.weight {
  color: var(--tg-theme-subtitle-text-color);
  font-size: 1.5rem;
  display: block;
  margin-bottom: 5px;
}

.quantity {
  font-size: 1.5rem;
  color: var(--tg-theme-accent-text-color);
  display: block;
}

.labelText {
  margin-bottom: 10px;
  display: block;
  font-family: 'tg', sans-serif;
}

.select {
  width: 100%;

  div {
    background: var(--tg-theme-bg-color) !important;
    border: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
}

.selectLabel,
.options {
  margin-bottom: 25px;
  display: block;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionItem {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.optionTitle {
  flex-grow: 1;
  font-family: var(--ff);
  font-size: 1.7rem;
}

.actions {
  padding: 10px;
  background: var(--tg-theme-bg-color);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.add {
  background: var(--tg-theme-accent-text-color);
  color: var(--tg-theme-button-text-color);
  border-radius: 12px;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  width: 100px;
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 12px;
}

.countItem {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countNumber {
  font-family: 'tg', sans-serif;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.oldPrice {
  font-size: 1.3rem;
  text-decoration: line-through;
}

.newPrice {
  color: var(--tg-theme-link-color);
  font-weight: 700;
}

.discount {
  align-items: center;
  background-color: #eee;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 37px;
  justify-content: center;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 37px;
  font-size: 1.4rem;
  color: var(--tg-theme-link-color);
  font-weight: 700;
  z-index: 9;
}
