.product {
  padding-top: 10px;
}

.slider {
  width: 100%;
}

.slide {
  max-width: none;
  width: 100%;
}

.wrapper {
  height: 350px;
  overflow: hidden;
  margin-bottom: 15px;
}

.img {
  object-fit: cover;
  height: 100%;
  border-radius: 21px;
}

.content {
  padding: 0 0 20px;
}

.prductTitle {
  font-size: 2.6rem;
  font-family: 'tg', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 18px;
}

.weight {
  color: var(--tg-theme-subtitle-text-color);
  font-size: 1.5rem;
  display: block;
  margin-bottom: 5px;
}

.quantity {
  font-size: 1.5rem;
  color: var(--tg-theme-accent-text-color);
  display: block;
}

.labelText {
  margin-bottom: 10px;
  display: block;
}

.select {
  width: 100%;

  div {
    background: var(--tg-theme-bg-color) !important;
    border: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
}

.selectLabel,
.options {
  margin-bottom: 25px;
  display: block;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionItem {
  display: flex;
  gap: 5px;
}

.optionTitle {
  flex-grow: 1;
}

// .popup {
//   background: var(--tg-theme-bg-color) !important;
//   color: var(--tg-theme-text-color) !important;
// }
