.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;

  li {
    font-size: 1.7rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shop {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;

  @media (max-width: 600px) {
    padding: 30px 10px;
  }
}

.item {
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &:hover {
    .remove {
      opacity: 1;
    }
  }
}

.title {
  font-size: 2.3rem;
  font-family: 'tg', sans-serif;
  margin-bottom: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.status {
  color: #18bf7d;
  background: rgba(24, 191, 125, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

.text {
  color: #000b267a;
  font-size: 1.4rem;
}

.remove {
  transition: all 200ms ease-in-out;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ff4545;
}

.statusOff {
  color: #ff4545;
  background: rgba(226, 41, 109, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

.linkShop:hover {
  text-decoration: underline;
}
