.card {
  border-radius: 16px;
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 30px;

  &__full {
    max-width: 1000px;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  padding: 16px 14px;
  border-bottom: 1px solid #e7eaf0;
  margin-bottom: 20px;

  span {
    font-weight: 600;
    font-family: 'tg', sans-serif;
    font-size: 1.9rem;
  }
}

.danger {
  color: #ff3366;
}
