.section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: calc(100vh - 100px);
}

.login {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  color: rgb(180, 23, 88);
  margin-bottom: 10px;
  display: inline-block;
}

.form {
  width: 100%;
}

.list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.item input {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
}

.active {
  border-color: #e0229d;
}

.button {
  padding: 10px 13px;
  border-radius: 10px;
  background-color: #e0229d;
  color: #fff;
  width: 100%;
  max-width: 300px;
}

.bwrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
