:global(:where(.css-dev-only-do-not-override-11xg00t).ant-modal .ant-modal-content) {
  border-radius: 21px;
}

:global(:where(.css-dev-only-do-not-override-11xg00t).ant-modal .ant-modal-title) {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  gap: 3%;
}

.card {
  background: #fff;
  max-width: 300px;
  width: 100%;
  border-radius: 21px;
  padding: 18px 12px;
}

.cardFull {
  flex-grow: 1;
  max-width: none;
}

.cardCategory {
  max-width: 260px;
}

.cardGoods {
  max-width: 900px;
}

.cardWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.drag {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;

  svg {
    fill: #bdbfc2;
  }
}

.more {
  svg {
    fill: #bdbfc2;
  }
}

.active {
  background-color: var(--menu-active);
  font-weight: 600;
}

.group {
  display: flex;
  flex-direction: column;
}
