.wrapper {
  display: flex;
  gap: 3%;
}

.cardFull {
  flex-grow: 1;
  max-width: none;
}

.cardCategory {
  max-width: 260px;
}

.cardGoods {
  max-width: 900px;
}

.cardWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.drag {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;

  svg {
    fill: #bdbfc2;
  }
}

.more {
  svg {
    fill: #bdbfc2;
  }
}

.active {
  background-color: var(--menu-active);
  font-weight: 600;
}

.group {
  display: flex;
  flex-direction: column;
}

.wrapperItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
}
