.wrapper {
  display: flex;
  gap: 3%;
}

.cardFull {
  flex-grow: 1;
  max-width: none;
}

.cardCategory {
  max-width: 260px;
}

.cardGoods {
  max-width: 900px;
}

.cardWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
