.input {
  width: 100%;
  padding: 13px 16px;
  background: var(--bg);
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
  outline: none;
  border: 2px solid transparent;
  font-size: 1.7rem;
  margin-bottom: 20px;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0);

  &:hover {
    background: var(--bg-hover);
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }

  &:focus {
    border: 2px solid var(--tag);
  }
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelText {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: 'tg', sans-serif;
  font-size: 1.5rem;
  color: var(--color);
}

.icon {
  position: absolute;
  right: 10px;
  top: 44%;
  color: var(--color);
}

.helper,
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper:hover {
  svg {
    fill: var(--tag);
  }
}
