.button {
  background: var(--tag);
  border-radius: 10px;
  padding: 14px 20px;
  color: #fff;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  font-size: 1.9rem;
  width: 100%;
  font-family: 'tg', sans-serif;

  &:hover {
    transform: scale(1.01);
    background: var(--tag-hover);
  }
}

.buttonMenu {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 13px 18px;
  border-radius: 12px;
  font-size: 1.6rem;
  transition: background 200ms ease-in-out;
  width: 100%;

  &:hover {
    background: var(--menu-active);
  }
}

.danger {
  color: #ff3366;
}
